.header__lang-link {
    color: white;
    text-decoration: none;
    font-size: 24px;
    transition: opacity 0.5s ease;
}

.header__lang-link:hover {
    transition: opacity 0.5s ease;
    opacity: 80%;
}

.header__lang-link:first-child {
    text-decoration: underline;
}

@media screen and (max-width: 632px) {
    .header__lang-link {
        font-size: 18px;
        line-height: 20px;
    }
}
