.page {
    background-color: var(--bg-color);
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    min-width: 320px;
    max-width: 1280px;
    margin: auto;
}