.photo-grid {
    padding: 92px 48px 0;
    list-style-type: none;
    justify-content: center;
    margin: 0;
}

@media screen and (max-width: 1184px) {
    .photo-grid {
        padding: 92px 48px 0;
    }
}

@media screen and (max-width: 976px) {
    .photo-grid {
        padding: 88px 24px 0;
    }
}

@media screen and (max-width: 632px) {
    .photo-grid {
        padding: 64px 16px 0;
    }
}