.places {
    padding: 92px 148px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

@media screen and (max-width: 1184px) {
    .places {
        padding: 92px 48px;
        width: 928px;
    }
}

@media screen and (max-width: 976px) {
    .places {
        padding: 88px 24px;
        width: 100%;
    }
}

@media screen and (max-width: 632px) {
    .places {
        padding: 64px 0 66px;
    }
}