.places__link {
    color: white;
    font-size: 18px;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    line-height: 22px;
    opacity: 1;
}

.places__link:hover {
    transition: opacity 0.5s ease;
    opacity: 80%;
}