.lead {
    display: flex;
    margin: 56px auto 0;
    flex-direction: column;
    max-width: 984px;
}

@media screen and (max-width: 1280px) {
    .lead {
        margin: 48px auto 0;
    }
}

@media screen and (max-width: 1184px) {
    .lead {
        margin: 48px 48px 0;
    }
}

@media screen and (max-width: 976px) {
    .lead {
        margin: 48px 0 0;
    }
}