.header {
    display: flex;
    justify-content: space-between;
    margin: 0 48px;
    align-items: center;
}

@media screen and (max-width: 976px) {
    .header {
        margin: 0 24px;
    }
}

@media screen and (max-width: 632px) {
    .header {
        margin: 0 16px;
    }
}