.lead__subtitle {
  font-size: 1.9em;
  font-weight: 400;
  color: white;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  text-align: center;
  max-width: 640px;
  margin: 32px auto 0;
  text-rendering: optimizeLegibility;
}

@media screen and (max-width: 632px) {
  .lead__subtitle {
    font-size: 16px;
    line-height: 20px;
    margin: 16px 16px 0;
  }
}