.cover {
    font-family: 'inter', Arial, Helvetica, sans-serif;
    margin: 0 48px 92px;
}

@media screen and (max-width: 1184px) {
    .cover {
        margin: 0 0 92px;
    }
}

@media screen and (max-width: 976px) {
    .cover {
        margin: 0 0 88px;
    }
}

@media screen and (max-width: 632px) {
    .cover {
        margin: 0 0 64px;
    }
}