.lead__main-illustration {
    background-position: center;
    object-fit: contain;
    width: 100%;
    margin: 64px auto 0;
}

@media screen and (max-width: 632px) {
    .lead__main-illustration {
        margin: 40px 0 0;
    }
}