.cover__title {
    font-size: 72px;
    line-height: 76px;
    font-weight: 900;
    text-align: center;
    margin: 16px 0 16px;
    max-width: 560px;
}

@media screen and (max-width:568px) {
    .cover__title {
        font-size: 32px;
        line-height: 35px;
        margin: 8px 0 8px;
        max-width: 288px;
    }
}