.footer {
    display: flex;
    margin: 0 48px 24px;
    justify-content: space-between;
}

@media screen and (max-width: 976px) {
    .footer {
        margin: 0 24px 24px;
    }
}

@media screen and (max-width: 632px) {
    .footer {
        margin: 0 16px 24px;
        flex-direction: column;
    }
}