.cover__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 740px;
    color: #fff;
    text-decoration: none;
    box-sizing: border-box;
    background-image: url(../../../images/cover.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 1;
    width: 100%;
    padding: 0;
}

@media screen and (max-width: 1184px) {
    .cover__item {
        min-height: 640px;
    }
}

@media screen and (max-width: 976px) {
    .cover__item {
        min-height: 480px;
    }
}

@media screen and (max-width: 632px) {
    .cover__item {
        min-height: 200px;
    }
}

.cover__item::before {
    content: "";
    background: var(--bg-color);
    opacity: 0.3;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    transition: 0.5s;
    z-index: -1;
}

.cover__item:hover::before {
    opacity: .8;
}