.places__item {
    display: grid;
    grid-template-columns: fit-content(460px) 1fr;
    column-gap: 40px;
    row-gap: 48px;
    margin: 0 0 90px;
    box-sizing: border-box;
}

.places__item:last-child {
    margin-bottom: 0;
}

@media screen and (max-width: 1280px) {
    .places__item {
        grid-template-columns: fit-content(440px) 1fr;
    }
}

@media screen and (max-width: 976px) {
    .places__item {
        grid-template-columns: fit-content(340px) 1fr;
        margin: 0 0 73px;
    }
}

@media screen and (max-width:632px) {
    .places__item {
        grid-template-columns: repeat(auto-fit, minmax(320px, max-content));
        row-gap: 32px;
    }
}