.intro__title {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 54px;
    line-height: 58px;
    color: white;
    margin: 0 0 40px 0;
}

@media screen and (max-width: 632px) {
    .intro__title {
        font-size: 32px;
        line-height: 35px;
    }
}